<!-- =========================================================================================
    File Name: ItemListView.vue
    Description: Item Component - List VIew
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <vx-card class="list-view-item overflow-hidden" v-on="$listeners" :card-background="getBg(item)">
    <template slot="no-body">
      <div class="vx-row item-details no-gutter">
        <!-- IMG COL -->
        <div
          class="vx-col sm:w-1/4 w-full item-img-container bg-white flex items-center justify-center cursor-pointer"
          @click="navigate_to_detail_view"
        >
          <img :src="item.image" :alt="item.name" class="grid-view-img p-4" />
        </div>

        <!-- ITEM NAME & DESC COL -->
        <div class="vx-col sm:w-1/2">
          <div class="p-4 pt-6">
            <slot name="item-meta">
              <h6
                class="item-name font-semibold mb-1 hover:text-primary cursor-pointer"
                @click="navigate_to_detail_view"
              >{{ item.name }}</h6>
              <p class="text-sm mb-4">
                By
                <span class="font-semibold cursor-pointer">{{ item.brand }}</span>
              </p>
              <p class="item-description text-sm">{{ item.description }}</p>
            </slot>
          </div>
        </div>

        <!-- PURCHASE COL -->
        <div
          class="vx-col sm:w-1/4 w-full flex items-center sm:border border-0 border-solid d-theme-border-grey-light border-r-0 border-t-0 border-b-0"
        >
          <div class="p-4 flex flex-col w-full">
            <vs-chip :color="item.category=='Debt' ? 'warning' : 'danger'" class="self-end">
        {{ item.category }}
      </vs-chip>
            <!-- <div :class="[item.category=='Debt' ? 'text-warning' : 'text-danger'  ,'flex self-end border border-solid py-1 px-2 rounded']"
            >
              <span class="text-sm mr-1">{{ item.category }}</span>
            </div> -->

            <div class="mt-3 mb-6">
              <h5
                class="font-bold text-center"
                style="font-size: 30px"
              >{{ actualInterest(item.price, item.category) }}%</h5>
              <span
                class="text-grey flex items-start justify-center mt-1"
                v-if="item.category=='Debt'"
              >
                <span class="text-sm ml-2">expected interest rate</span>
              </span>
              <span
                class="text-grey flex items-start justify-center mt-1"
                v-if="item.category=='Equity'"
              >
                <span class="text-sm ml-2">expected amount of Equity</span>
              </span>
              <span
                class="text-grey flex items-start justify-center mt-1"
                v-if="item.category=='Grant'"
              >
                <span class="text-sm ml-2"></span>
              </span>
            </div>

            <!-- SLOT: ACTION BUTTONS -->
            <slot name="action-buttons" />
          </div>
        </div>
      </div>
    </template>
  </vx-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    },
    requiredCap: {
      type: Number,
      required: true
    },
    requiredDuration: {
      type: Number,
      required: true
    }
  },
  computed: {
    isInCart() {
      return itemId => this.$store.getters["eCommerce/isInCart"](itemId);
    },
    isInWishList() {
      return itemId => this.$store.getters["eCommerce/isInWishList"](itemId);
    }
  },
  methods: {
    toggleItemInWishList(item) {
      this.$store.dispatch("eCommerce/toggleItemInWishList", item);
    },
    additemInCart(item) {
      this.$store.dispatch("eCommerce/additemInCart", item);
    },
    cartButtonClicked(item) {
      this.isInCart(item.objectID)
        ? this.$router.push("/apps/eCommerce/checkout").catch(() => {})
        : this.additemInCart(item);
    },
    navigate_to_detail_view() {
      this.$router
        .push({
          name: "ecommerce-item-detail-view",
          params: { item_id: this.item.objectID }
        })
        .catch(() => {});
    },
    actualInterest(price, category) {
      var bookValue = 369;
      if (category == "Debt") {
        var line = (
          price +
          (this.requiredCap / bookValue) * (9 - price) +
          this.requiredDuration / (9 * 365)
        ).toFixed(2);
        if (this.requiredCap < bookValue * 0.1) {
          return price;
        } else if (line > 9) {
          return 9;
        }
        return line;
      } else if (category == "Equity"){
        return (this.requiredCap*100/(bookValue*price)).toFixed(2);
      }
    },
    getBg(item) {
      var bookValue = 369;
      if (item.name == "e-Credit") {
        if (this.requiredCap / bookValue <= 0.1) {
          //success
          return "#e7fff2";
        } else if (this.requiredCap / bookValue <= 0.5) {
          //Warning
          return "#fff8e7";
        } else {
          // Danger
          return "#ffe7e7";
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.list-view-item {
  .item-name,
  .item-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .item-name {
    -webkit-line-clamp: 2;
  }

  .item-description {
    -webkit-line-clamp: 5;
  }

  .grid-view-img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    transition: 0.35s;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);

    .grid-view-img {
      opacity: 0.9;
    }
  }
}
</style>
