<template>
  <div>
    <div class="flex justify-between mt-3">
      <div class="flex flex-col">
        <h6>{{sliderTitle}}</h6>
      </div>
      <div class="flex flex-col text-right">
        <span class="flex mr-1">
          <span>{{actualValue + " " + actualUnit}}</span>
        </span>
      </div>
    </div>
    <vs-slider
      :max="max"
      :min="min"
      :step="step"
      v-model="sliderVal"
      :text-fixed="unit"
      :disabled="disabled"
      class="slider"
    />
  </div>
</template>
<script>
export default {
  name: "slider-with-info",
  props: {
    value: {
      // type: Number, This can be array too
      default: 0,
      required: true
    },
    icon: {
      type: String,
      required: false
    },
    sliderTitle: {
      type: String
    },
    disabled: {
      type: Boolean
    },
    step: {
      type: Number,
      default: 100,
      required: false
    },
    max: {
      type: Number,
      default: 100,
      required: false
    },
    min: {
      type: Number,
      default: 0,
      required: false
    },
    unit: {
      type: String,
      default: "",
      required: false
    }
  },
  data() {
    return { sliderVal: this.value };
  },
  watch: {
    sliderVal(val) {
      this.$emit("input", val);
    }
  },
  computed:{
      actualUnit(){
          if(this.unit == "days" && this.sliderVal>365){
              return "years"
          }
          return this.unit
      },
      actualValue(){
          if(this.unit == "days" && this.sliderVal>365){
              return (this.sliderVal/365).toFixed(2)
          }
          return this.sliderVal
      }
  }
};
</script>
<style scoped>
.slider {
  margin: 4px 0px 16px 0px;
}
</style>