<template>
  <div>
    <vs-row vs-align="center">
      <vs-col vs-lg="6" vs-md="6" vs-sm="12" vs-align="center">
        <vs-col class="banner-text-container">
          <img src="../assets/images/home/icon.png" alt="eCredit" class="mx-auto mb-2 img-fluid" />
          <h1 class="mb-4 mt-10">Smart credit Solutions</h1>
          <p
            class="mb-4"
          >Democratising credit and funding for SMEs.
Whether you want a microcredit for near term or the credit for company's future we stand with you to ease your process.
We help banks and investors see the true potential of your business and value it accordingly..</p>
          <vs-button class="w-2/3 mb-3" color="primary" @click="$router.push('/sme')">SME Credit Analytics</vs-button>
          <br>
          <vs-button class="w-2/3" color="primary" disabled>Get Corporate Credit Card <br>(Coming soon)</vs-button>
          <div class="mt-10">
            <h3>A product from</h3>
            <img
              src="../assets/images/home/f10.png"
              alt="eCredit"
              class="mb-2 img-fluid"
              style="width: 25%;min-width: 135px; margin-right: 30px;  margin-top: 10px;"
            />
            <img
              src="../assets/images/home/six.png"
              alt="eCredit"
              class="mb-2 img-fluid"
              style="width: 30%;min-width: 150px;padding-bottom: 17px;"
            />
          </div>
        </vs-col>
      </vs-col>
      <vs-col
        vs-lg="6"
        vs-md="6"
        vs-sm="12"
        class="mt-6"
        vs-align="center"
        style="text-align:center"
      >
        <img
          src="../assets/images/home/creditRain.svg"
          alt="coming-soon"
          class="mx-auto mb-2 img-fluid"
        />
      </vs-col>
    </vs-row>

    <div class="vs-row mt-10 text-center">
      <feather-icon
        icon="DiscIcon"
        class="p-3 inline-flex rounded-full text-primary mb-4"
        style="background: rgba(var(--vs-primary),.15)"
      ></feather-icon>
      <h1>Our Goals</h1>
    </div>

    <div class="vx-row mt-10 mb-5">
      <div class="vx-col w-full md:w-1/3 sm:w-1/2 mb-base">
        <vx-card class="p-2">
          <div class="text-center">
            <h4>Awareness</h4>
          </div>
          <img
            src="../assets/images/home/noPaperWork.svg"
            alt="Education"
            class="mx-auto mb-2 img-fluid"
            style="padding:10%;max-height: 280px;"
          />

          <!-- <vs-avatar class="mx-auto my-6 block" size="80px" :src="require(`@/assets/images/portrait/small/${ card_5.userImg }`)" /> -->
          <div class="flex justify-between text-center">
            <span style="text-align:center">
              <p>We speak the language of open banking and ensure a quick and reliable e-credit process. Our advanced algorithm will analyze account and loans historical records, assess the risk and predict the optimal lending duration. In our vision, safety and ease go hand in hand</p>
            </span>
          </div>
          <!-- <vs-button type="gradient" class="w-full mt-6" color="#7367F0" gradient-color-secondary="#CE9FFC">{{ card_5.btn_text }}</vs-button> -->
        </vx-card>
      </div>

      <div class="vx-col w-full md:w-1/3 sm:w-1/2 mb-base">
        <vx-card class="p-2">
          <div class="text-center">
            <h4>Liquidity</h4>
          </div>
          <img
            src="../assets/images/home/onlineCredit.svg"
            alt="Liquidity"
            class="mx-auto mb-2 img-fluid"
            style="padding:10%; margin: 0px 0px;;max-height: 280px;"
          />

          <!-- <vs-avatar class="mx-auto my-6 block" size="80px" :src="require(`@/assets/images/portrait/small/${ card_5.userImg }`)" /> -->
          <div class="flex justify-between text-center">
            <span style="text-align:center">
              <p>We understand that growing a business requires an investment. Whilst most institution will not accept microcredit requests or introduce counterproductive terms, we trust our process and YOU and enable unique opportunities to finance your venture</p>
            </span>
          </div>
          <!-- <vs-button type="gradient" class="w-full mt-6" color="#7367F0" gradient-color-secondary="#CE9FFC">{{ card_5.btn_text }}</vs-button> -->
        </vx-card>
      </div>

      <div class="vx-col w-full md:w-1/3 sm:w-1/2 mb-base">
        <vx-card class="p-2">
          <div class="text-center">
            <h4>Opportunities</h4>
          </div>
          <img
            src="../assets/images/home/simpleCredit.svg"
            alt="Discount"
            class="mx-auto mb-2 img-fluid"
            style="padding:10%; margin: 0px 0px;;max-height: 280px;"
          />

          <!-- <vs-avatar class="mx-auto my-6 block" size="80px" :src="require(`@/assets/images/portrait/small/${ card_5.userImg }`)" /> -->
          <div class="flex justify-between text-center">
            <span style="text-align:center">
              <p>We eliminate the time, hustle and costs that are usually required for a business for finding and getting only a reasonable decent loan. Not only do we save your business valuable time but we also offer very attractive terms. We take care of the finance so you can concentrate on scaling</p>
            </span>
          </div>
          <!-- <vs-button type="gradient" class="w-full mt-6" color="#7367F0" gradient-color-secondary="#CE9FFC">{{ card_5.btn_text }}</vs-button> -->
        </vx-card>
      </div>
    </div>

    <div class="vs-row mt-10 mb-6 text-center">
      <feather-icon
        icon="DiscIcon"
        class="p-3 inline-flex rounded-full text-primary mb-4"
        style="background: rgba(var(--vs-primary),.15)"
      ></feather-icon>
      <h1>Our Product</h1>
    </div>

    <div class="vx-row">
      <div class="vx-col w-1/2 mb-base ml-auto">
        <vx-card class="p-2">
          <div class="text-center">
            <h4>SME Credit Analytics</h4>
          </div>
          <img
            src="../assets/images/home/getCredit.svg"
            alt="Discount"
            class="mx-auto mb-2 img-fluid"
            style="padding:20px;max-height:300px"
          />

          <!-- <vs-avatar class="mx-auto my-6 block" size="80px" :src="require(`@/assets/images/portrait/small/${ card_5.userImg }`)" /> -->
          <div class="flex justify-between text-center">
            <span style="text-align:center" class="mx-5">
              <p>We help banks and investors understand the true potential of your business and value it accordingly</p>
            </span>
          </div>
          <vs-button
            class="w-full mt-6"
            color="primary"
            @click="$router.push('/sme')"
          >SME Credit Analytics</vs-button>
        </vx-card>
      </div>

      <div class="vx-col w-1/2 mb-base ml-auto">
        <vx-card class="p-2">
          <div class="text-center">
            <h4>Corporate Credit Card</h4>
          </div>
          <img
            src="../assets/images/home/creditCard.svg"
            alt="Discount"
            class="mx-auto mb-2 img-fluid"
            style="padding:20px;max-height:300px"
          />

          <!-- <vs-avatar class="mx-auto my-6 block" size="80px" :src="require(`@/assets/images/portrait/small/${ card_5.userImg }`)" /> -->
          <div class="flex justify-between text-center">
            <span style="text-align:center" class="mx-5">
              <p>Have a line of credit for unexpected expenses and business expense tracking</p>
            </span>
          </div>
          <vs-button
            class="w-full mt-6"
            color="primary"
            disabled
          >Corporate Credit Card (Coming soon)</vs-button>
        </vx-card>
      </div>
    </div>
    <!-- 
<div class="vs-row mt-10 mb-6 text-center">
  <feather-icon icon="DiscIcon" class="p-3 inline-flex rounded-full text-primary mb-4" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
     <h1>Join us in making the change</h1>
  </div>

<div class="vx-row">
            <div class="vx-col w-full sm:w-1/2 lg:w-1/3 mb-base ml-auto">
            <vx-card class="p-2">
                    <div class="text-center">
                        <h4>Stay Tuned</h4>
                    </div>
                    <img
          src="../assets/images/home/subscribe.svg"
          alt="Discount"
          class="mx-auto mb-2 img-fluid"
          style="padding:10%;"
        />

                    <vs-avatar class="mx-auto my-6 block" size="80px" :src="require(`@/assets/images/portrait/small/${ card_5.userImg }`)" /> 
                    <div class="flex justify-between text-center">
                        <span style="text-align:center">
                            <p>Bond markets offeres incredible discount bonds for the retail investors. We aim to notify the investors to grab these opertunities. </p>
                        </span>
                    </div>
                    <vs-button class="w-full mt-6" color="primary"  @click="$router.push('/Subscribe')">Subscribe Now</vs-button>
                </vx-card>
            </div>

            <div class="vx-col w-full sm:w-1/2 lg:w-1/3 mb-base mr-auto">
            <vx-card class="p-2">
                    <div class="text-center">
                        <h4>Share us</h4>
                    </div>
                    <img
          src="../assets/images/home/share.svg"
          alt="Discount"
          class="mx-auto mb-2 img-fluid"
          style="padding:10%;"
        />

                     <vs-avatar class="mx-auto my-6 block" size="80px" :src="require(`@/assets/images/portrait/small/${ card_5.userImg }`)" /> 
                    <div class="flex justify-between text-center">
                        <span style="text-align:center">
                            <p>Alone we go faster, together we go further. Share us with your friends and families and togather we make the debt markets great again.</p>
                        </span>
                    </div>
                    <div class="flex justify-around text-center">
                      <a href="" target="_blank">
                    <feather-icon icon="TwitterIcon" class="p-3 inline-flex rounded-full text-white mt-4" style="background: rgba(var(--vs-primary))"></feather-icon>
                      </a>

<a href="" target="_blank">
<feather-icon icon="FacebookIcon" class="p-3 inline-flex rounded-full text-white mt-4" style="background: rgba(var(--vs-primary))"></feather-icon>
</a>

<a href="" target="_blank">
<feather-icon icon="LinkedinIcon" class="p-3 inline-flex rounded-full text-white mt-4" style="background: rgba(var(--vs-primary))"></feather-icon>
</a>

<a href="" target="_blank">
<feather-icon icon="MailIcon" class="p-3 inline-flex rounded-full text-white mt-4" style="background: rgba(var(--vs-primary))"></feather-icon>
</a>                    </div>
                    
                </vx-card>
            </div>
    </div>-->
  </div>
</template>
<script>
import StatisticsCardLine from "@/components/statistics-cards/StatisticsCardLine.vue";
export default {
  data() {
    return {
      activeItem: 0,
      analyticsData: [],
      // card_5
      card_5: {
        // userImg: 'avatar-s-12.png',
        name: "Wilhelmina Jamal",
        profession: "Frontend Dev",
        user_meta_1_title: 568,
        user_meta_1_label: "Uploads",
        user_meta_2_title: "78.6K",
        user_meta_2_label: "Followers",
        user_meta_3_title: 112,
        user_meta_3_label: "Following",
        btn_text: "Follow"
      }
    };
  },
  components: {
    StatisticsCardLine
  }
};
</script>
<style scoped>
.img-fluid {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* @media (max-width: 620px) {
  .bg-shape::before {
    display: none;
  }
} */

.banner-text-container {
  max-width: 750px;
  padding: 0% 10% 10% 10% ;
}

/* No padding on small screen */
@media (max-width: 620px) {
  .banner-text-container {
    padding: 0 0 10% 0;
  }
}
</style>