<!-- =========================================================================================
    File Name: DashboardEcommerce.vue
    Description: Dashboard - Ecommerce
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div>
    <div v-if="!blinkApiConnect">
      <div class="vx-col w-full mb-base">
        <vx-card title="SIX b.Link API">
          <template slot="actions">
            <feather-icon icon="HelpCircleIcon" svgClasses="w-6 h-6 text-grey"></feather-icon>
          </template>

          <!-- CHART -->
          <template slot="no-body">
            <div class="mt-10 text-center">
              <img
                src="../assets/images/home/sixBLink.png"
                alt="eCredit"
                class="mx-auto mb-2 img-fluid"
                style="width: 30%;min-width: 150px;padding-bottom: 17px;"
              />

              <p
                class="mx-3"
              >The b.Link platform is the new central platform offering service users access to service providers through APIs (Application Programming Interface).</p>
            </div>
          </template>

          <!-- DATA -->
          <div class="flex justify-between text-center mt-6" slot="no-body-bottom">
            <div
              class="w-1/2 border border-solid d-theme-border-grey-light border-r-0 border-b-0 border-l-0"
            >
              <vs-button
                class="w-1/2 mt-6"
                color="primary"
                @click="blinkApiConnect=true"
              >Connect with SIX B.Link API</vs-button>
            </div>
            <div class="w-1/2 border border-solid d-theme-border-grey-light border-r-0 border-b-0">
              <p class="mt-4">Offered as a sandbox by</p>
              <img
                src="../assets/images/home/f10-logo.gif"
                alt="eCredit"
                class="mx-auto mb-2 img-fluid"
                style="width: 30%;min-width: 150px;padding-bottom: 17px;"
              />
            </div>
          </div>
        </vx-card>
      </div>
    </div>
    <div v-else>
      <div class="vx-row">
        <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
          <statistics-card-line
            v-if="revenueGenerated.analyticsData"
            icon="DollarSignIcon"
            :statistic="revenueGenerated.analyticsData.revenue | k_formatter"
            statisticTitle="Revenue Generated"
            :chartData="revenueGenerated.series"
            color="success"
            type="area"
          />
        </div>

        <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
          <statistics-card-line
            v-if="quarterlySales.analyticsData"
            icon="ShoppingCartIcon"
            :statistic="quarterlySales.analyticsData.sales"
            statisticTitle="Quarterly Sales"
            :chartData="quarterlySales.series"
            color="danger"
            type="area"
          />
        </div>
        <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
          <statistics-card-line
            v-if="ordersRecevied.analyticsData"
            icon="ShoppingBagIcon"
            :statistic="ordersRecevied.analyticsData.orders | k_formatter"
            statisticTitle="Orders Received"
            :chartData="ordersRecevied.series"
            color="warning"
            type="area"
          />
        </div>
        <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
          <statistics-card-line
            v-if="subscribersGained.analyticsData"
            icon="DollarSignIcon"
            :statistic="subscribersGained.analyticsData.subscribers | k_formatter"
            statisticTitle="Existing Debt"
            :chartData="subscribersGained.series"
            type="area"
          />
        </div>
      </div>

      <div class="vx-row">
        <!-- LINE CHART -->
        <div class="vx-col w-full md:w-2/3 mb-base">
          <vx-card title="Profit/Loss">
            <template slot="actions">
              <feather-icon icon="SettingsIcon" svgClasses="w-6 h-6 text-grey"></feather-icon>
            </template>
            <div slot="no-body" class="p-6 pb-0">
              <div class="flex" v-if="revenueComparisonLine.analyticsData">
                <div class="mr-6">
                  <p class="mb-1 font-semibold">This Month</p>
                  <p class="text-3xl text-success">
                    <sup class="text-base mr-1">$</sup>
                    {{ revenueComparisonLine.analyticsData.thisMonth.toLocaleString() }}
                  </p>
                </div>
                <div>
                  <p class="mb-1 font-semibold">Last Month</p>
                  <p class="text-3xl">
                    <sup class="text-base mr-1">$</sup>
                    {{ revenueComparisonLine.analyticsData.lastMonth.toLocaleString() }}
                  </p>
                </div>
              </div>
              <vue-apex-charts
                type="line"
                height="266"
                :options="analyticsData.revenueComparisonLine.chartOptions"
                :series="revenueComparisonLine.series"
              />
            </div>
          </vx-card>
        </div>
        <div class="vx-col w-full md:w-1/3 md:mt-0 mt-base">
          <div class="vx-row">
            <div class="vx-col w-1/2">
              <statistics-card-line
                hideChart
                class="mb-base"
                icon="BookIcon"
                statistic="369.2k"
                statisticTitle="Book Value"
              />
            </div>
            <div class="vx-col w-1/2">
              <statistics-card-line
                hideChart
                class="mb-base"
                icon="MessageSquareIcon"
                statisticTitle="Price To Eanings"
                statistic="12"
                color="success"
              />
            </div>
          </div>
          <div class="vx-row">
            <div class="vx-col w-1/2">
              <statistics-card-line
                hideChart
                class="mb-base"
                icon="ShoppingBagIcon"
                statistic="7.2"
                statisticTitle="Price to Book"
                color="warning"
              />
            </div>

            <div class="vx-col w-1/2">
              <statistics-card-line
                hideChart
                class="mb-base"
                icon="HeartIcon"
                statistic="2.6k"
                statisticTitle="Debt Capital"
                color="danger"
              />
            </div>
          </div>
        </div>
      </div>

<div class="vx-row">
        <div class="vx-col w-full md:w-1/3 md:mt-0 mt-base">
          <vx-card title="Customer Profile">
            <!-- SLOT = ACTIONS -->
            <template slot="actions">
              <change-time-duration-dropdown />
            </template>

            <div slot="no-body">
              <vue-apex-charts
                class="mt-6 mb-8"
                type="donut"
                height="170"
                :options="analyticsData.sessionsByDeviceDonut.chartOptions"
                :series="sessionsData.series"
              />
            </div>

            <ul class="mt-6">
              <li
                v-for="deviceData in sessionsData.analyticsData"
                :key="deviceData.device"
                class="flex mb-3"
              >
                <feather-icon
                  :icon="deviceData.icon"
                  :svgClasses="[`h-5 w-5 stroke-current text-${deviceData.color}`]"
                ></feather-icon>
                <span class="ml-2 inline-block font-semibold">{{ deviceData.device }}</span>
                <span class="mx-2">-</span>
                <span class="mr-4">{{ deviceData.sessionsPercentage }}%</span>
                <div class="ml-auto flex -mr-1">
                  <span class="mr-1">{{ deviceData.comparedResultPercentage }}%</span>
                  <feather-icon
                    :icon=" deviceData.comparedResultPercentage < 0 ? 'ArrowDownIcon' : 'ArrowUpIcon'"
                    :svgClasses="[deviceData.comparedResultPercentage < 0 ? 'text-danger' : 'text-success'  ,'stroke-current h-4 w-4 mb-1 mr-1']"
                  ></feather-icon>
                </div>
              </li>
            </ul>
          </vx-card>
        </div>

        <div class="vx-col w-full md:w-1/3 lg:w-1/3 xl:w-1/3 mb-base">
          <vx-card title="Top 5 Customers">
            <div
              v-for="(browser, index) in browserStatistics"
              :key="browser.id"
              :class="{'mt-4': index}"
            >
              <div class="flex justify-between">
                <div class="flex flex-col">
                  <span class="mb-1">{{ browser.name }}</span>
                  <h4>{{ browser.ratio }}%</h4>
                </div>
                <div class="flex flex-col text-right">
                  <span class="flex -mr-1">
                    <span class="mr-1">{{ browser.comparedResult }}%</span>
                    <feather-icon
                      :icon="browser.comparedResult < 0 ? 'ArrowDownIcon' : 'ArrowUpIcon'"
                      :svgClasses="[browser.comparedResult < 0 ? 'text-danger' : 'text-success'  ,'stroke-current h-4 w-4 mb-1 mr-1']"
                    ></feather-icon>
                  </span>
                  <span class="text-grey">{{ browser.time | time(true) }}</span>
                </div>
              </div>
              <vs-progress :percent="browser.ratio"></vs-progress>
            </div>
          </vx-card>
        </div>

        <!-- RADIAL CHART -->
        <div class="vx-col w-full md:w-1/3 mb-base">
          <vx-card title="eCredit Rating">
            <template slot="actions">
              <feather-icon icon="HelpCircleIcon" svgClasses="w-6 h-6 text-grey"></feather-icon>
            </template>

            <!-- CHART -->
            <template slot="no-body">
              <div class="mt-10 mb-4">
                <vue-apex-charts
                  type="radialBar"
                  height="240"
                  :options="analyticsData.goalOverviewRadialBar.chartOptions"
                  :series="goalOverview.series"
                />
              </div>
              <p class="mx-5 text-center">
              This is a exclucive credit score to <b>Finastra Inc</b> by
              </p>
              <img
          src="../assets/images/home/icon.png"
          alt="eCredit"
          class="mx-auto mb-2 mt-4 img-fluid"
          style="width:28%"
        />
            </template>

            <!-- DATA -->
            <div class="flex justify-between text-center mt-6" slot="no-body-bottom">
              <div
                class="w-1/2 border border-solid d-theme-border-grey-light border-r-0 border-b-0 border-l-0"
              >
                <p class="mt-4">Existing Debt</p>
                <p class="mb-4 text-3xl font-semibold">CHF 2,600</p>
              </div>
              <div
                class="w-1/2 border border-solid d-theme-border-grey-light border-r-0 border-b-0"
              >
                <vs-button class="w-2/3 mt-6 mx-auto" color="primary" @click="$router.push('/smeCredit')">Get more credit</vs-button>
              </div>
            </div>
          </vx-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import VueApexCharts from "vue-apexcharts";
import StatisticsCardLine from "@/components/statistics-cards/StatisticsCardLine.vue";
import analyticsData from "./Sme/analyticsData.js";
import ChangeTimeDurationDropdown from "@/components/ChangeTimeDurationDropdown.vue";

export default {
  components: {
    VueApexCharts,
    StatisticsCardLine,
    VuePerfectScrollbar,
    ChangeTimeDurationDropdown
  },
  data() {
    return {
      blinkApiConnect: false,
      subscribersGained: {
        series: [
          {
            name: "Debt",
            data: [28, 40, 36, 52, 38, 60, 55]
          }
        ],
        analyticsData: {
            subscribers: 2600
        }
      },
      revenueGenerated: {
        series: [
          {
            name: "Revenue",
            data: [1500, 1400, 1600, 1500, 2000, 1700, 2100, 2000]
          }
        ],
        analyticsData: {
          revenue: 13900
        }
      },
      quarterlySales: {
        series: [
          {
            name: "Sales",
            data: [10, 15, 7, 12, 3, 16]
          }
        ],
        analyticsData: {
          sales: "36%"
        }
      },
      ordersRecevied: {
        series: [
          {
            name: "Orders",
            data: [10, 15, 8, 15, 7, 12, 8]
          }
        ],
        analyticsData: {
          orders: 17500
        }
      },

      revenueComparisonLine: {
        analyticsData: {
          thisMonth: 7200,
          lastMonth: 6640
        },
        series: [
          {
            name: "This Month",
            data: [800, 700, 900, 800, 1000, 900, 1100, 1000]
          },
          {
            name: "Last Month",
            data: [850, 750, 890, 750, 900, 750, 900, 850]
          }
        ]
      },
      goalOverview: {
        analyticsData: {
          completed: 786617,
          inProgress: 13561
        },
        series: [83]
      },

      browserStatistics: [
        {
          id: 1,
          name: "Laura Malkovich Associates",
          ratio: 16,
          time: "",
          comparedResult: "2"
        },
        {
          id: 3,
          name: "Wilson Unlimited",
          ratio: 11,
          time: "",
          comparedResult: "-2"
        },
        {
          id: 2,
          name: "Sparkle Industries",
          ratio: 9,
          time: "",
          comparedResult: "1.1"
        },
        {
          id: 4,
          name: "Coach Decorate Post",
          ratio: 7,
          time: "",
          comparedResult: "-1"
        },
        {
          id: 5,
          name: "Sparrow and Sons",
          ratio: 7,
          time: "",
          comparedResult: "-0.50"
        }
      ],

      sessionsData: {
        analyticsData: [
          {
            device: "New",
            color: "primary",
            sessionsPercentage: 23.1,
            comparedResultPercentage: 2
          },
          {
            device: "Returning",
            color: "warning",
            sessionsPercentage: 76.9,
            comparedResultPercentage: 8
          }
        ],
        series: [23.1, 76.9]
      },
      chatLog: [
        {
          senderImg: require("@/assets/images/portrait/small/avatar-s-2.jpg"),
          msg: "Cake sesame snaps cupcake gingerbread",
          isSent: false
        },
        {
          senderImg: require("@/assets/images/portrait/small/avatar-s-5.jpg"),
          msg: "Apple pie pie jujubes chupa chups muffin",
          isSent: true
        },
        {
          senderImg: require("@/assets/images/portrait/small/avatar-s-2.jpg"),
          msg: "Chocolate cake",
          isSent: false
        },
        {
          senderImg: require("@/assets/images/portrait/small/avatar-s-5.jpg"),
          msg: "Donut sweet pie oat cake dragée fruitcake",
          isSent: true
        },
        {
          senderImg: require("@/assets/images/portrait/small/avatar-s-2.jpg"),
          msg: "Liquorice chocolate bar jelly beans icing",
          isSent: false
        },
        {
          senderImg: require("@/assets/images/portrait/small/avatar-s-5.jpg"),
          msg: "Pudding candy",
          isSent: true
        }
      ],
      chatMsgInput: "",
      customersData: {
        analyticsData: [
          {
            customerType: "New",
            counts: 890,
            color: "primary"
          },
          {
            customerType: "Returning",
            counts: 258,
            color: "warning"
          },
          {
            customerType: "Referrals ",
            counts: 149,
            color: "danger"
          }
        ],
        series: [690, 258, 149]
      },

      analyticsData,
      settings: {
        // perfectscrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      }
    };
  },
  computed: {
    scrollbarTag() {
      return this.$store.getters.scrollbarTag;
    }
  },
  mounted() {
    // const scroll_el = this.$refs.chatLogPS.$el || this.$refs.chatLogPS;
    // scroll_el.scrollTop = this.$refs.chatLog.scrollHeight;
  },
  created() {}
};
</script>

<style lang="scss">
.chat-card-log {
  height: 400px;

  .chat-sent-msg {
    background-color: #f2f4f7 !important;
  }
}
</style>
