<!-- =========================================================================================
  File Name: ECommerceCheckout.vue
  Description: eCommerce Checkout page
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="ecommerce-checkout-demo">
    <div class="vx-row w-full mt-base">
      <div class="vx-col w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="BookIcon"
          statistic="369k"
          statisticTitle="Book Value"
        />
      </div>
      <div class="vx-col w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="MessageSquareIcon"
          statisticTitle="Price To Eanings"
          statistic="12"
          color="success"
        />
      </div>
      <div class="vx-col w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="ShoppingBagIcon"
          statistic="743k"
          statisticTitle="Equity Capital"
          color="warning"
        />
      </div>

      <div class="vx-col w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="HeartIcon"
          statistic="2.6k"
          statisticTitle="Debt Capital"
          color="danger"
        />
      </div>
    </div>


      <vx-card title="Credit Requirement">
        <template slot="actions">
          <feather-icon icon="HelpCircleIcon" svgClasses="w-6 h-6 text-grey"></feather-icon>
        </template>
        <template slot="no-body">
          <div class="mt-10 text-center mx-10" style="padding-bottom: 20px">
            <p
              style="
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -20px;
"
            >Required Raise in Capital</p>
            <slider-with-info v-model="requiredCap" unit="k CHF" :step="10" :max="1000"></slider-with-info>

            <p
              style="
    text-align: left;
    font-size: 20px;
    font-weight: 500;margin-bottom: -20px; margin-top:20px;
"
            >Duration in days:</p>
            <slider-with-info v-model="requiredDuration" unit="days" :step="1" :max="3000"></slider-with-info>
          </div>
        </template>
      </vx-card>

        <!-- IF CART HAVE ITEMS -->
        <div class="vx-row" v-if="cartItems.length">
          <!-- LEFT COL -->
          <div class="vx-col w-full relative">
            <div class="items-list-view" v-for="(item, index) in cartItems" :key="item.objectID">
              <item-list-view
                v-if="item.feasible"
                :item="item"
                :requiredCap="requiredCap"
                :requiredDuration="requiredDuration"
                class="mb-base"
              >
                <!-- SLOT: ITEM META -->
                <template slot="item-meta">
                  <h6
                    class="item-name font-semibold mb-1 cursor-pointer hover:text-primary"
                  >{{ item.name }}</h6>
                  <p class="text-sm mb-2">
                    Category:
                    <span
                      class="font-semibold cursor-pointer"
                    >{{ item.category }}</span>
                  </p>

                  <p class="text-sm mb-2">{{item.description}}</p>

                  <p
                    class="text-success font-medium"
                  >Probability of receiving this investment: {{ actualProbability(index, item.category, item.complexity, item.probability) }}%</p>
                </template>

                <!-- SLOT: ACTION BUTTONS -->
                <template slot="action-buttons">
                  <!-- SECONDARY BUTTON: MOVE-TO/VIEW-IN WISHLIST -->
                  <div
                   :class="[item.category=='Debt' ? 'bg-warning' : 'bg-danger'  ,'item-view-secondary-action-btn p-3 rounded-lg flex flex-grow items-center justify-center text-white cursor-pointer']"
                  >
                    <span class="text-sm font-semibold ml-2">Apply Now</span>
                  </div>
                </template>
              </item-list-view>
            </div>
          </div>

          <!-- RIGHT COL -->
          <!-- <div class="vx-col lg:w-1/3 w-full">
            <vx-card>
              <p class="text-grey mb-3">Options</p>
              <div class="flex justify-between">
                <span class="font-semibold">Coupons</span>
                <span class="font-medium text-primary cursor-pointer">Apply</span>
              </div>

              <vs-divider />

              <p class="font-semibold mb-3">Price Details</p>
              <div class="flex justify-between mb-2">
                <span class="text-grey">Total MRP</span>
                <span>$598</span>
              </div>
              <div class="flex justify-between mb-2">
                <span class="text-grey">Bag Discount</span>
                <span class="text-success">-25$</span>
              </div>
              <div class="flex justify-between mb-2">
                <span class="text-grey">Estimated Tax</span>
                <span>$1.3</span>
              </div>
              <div class="flex justify-between mb-2">
                <span class="text-grey">EMI Eligibility</span>
                <a href="#" class="text-primary">Details</a>
              </div>
              <div class="flex justify-between mb-2">
                <span class="text-grey">Delivery Charges</span>
                <span class="text-success">Free</span>
              </div>

              <vs-divider />

              <div class="flex justify-between font-semibold mb-3">
                <span>Total</span>
                <span>$574.3</span>
              </div>

              <vs-button class="w-full" @click="$refs.checkoutWizard.nextTab()">PLACE ORDER</vs-button>
            </vx-card>
          </div> -->
        </div>

        <!-- IF NO ITEMS IN CART -->
  </div>
</template>

<script>
import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
const ItemListView = () => import("./Sme/ItemListView.vue");
const SliderWithInfo = () => import("./Sme/SliderWithInfo.vue");
import StatisticsCardLine from "@/components/statistics-cards/StatisticsCardLine.vue";
export default {
  data() {
    return {
      //Tab 1
      requiredCap: 2,
      requiredDuration: 30,
      // TAB 2
      fullName: "",
      mobileNum: "",
      pincode: "",
      houseNum: "",
      area: "",
      landmark: "",
      city: "",
      state: "",
      addressType: 1,
      addressTypeOptions: [
        { text: "Home", value: 1 },
        { text: "Office", value: 2 }
      ],
      cartItems: [
        {
          name: "e-Credit",
          category: "Debt",
          price: 3,
          description:
            "e-Credit offeres instant short term debt for companies to resolve their working capital changes.",
          image: "https://e-cred.web.app/img/icon.df303680.png",
          complexity: 1,
          feasible: true
          // 1 is simple
        },
        {
          name: "Migros Bank",
          category: "Debt",
          price: 3.5,
          description:
            "Migros Bank is a Swiss bank founded in 1958 by Gottlieb Duttweiler and belongs to the Federation of Migros Cooperatives.[1] It has 67 branches in Switzerland (20 new between 2008 and 2016)",
          image:
            "https://upload.wikimedia.org/wikipedia/commons/c/cc/Migros-Bank-Logo.svg",
          complexity: 0.9,
          feasible: true
          // 1 is simple
        },
        {
          name: "Swiss Startup Invest",
          category: "Equity",
          price: 4.4,
          description:
            "Swiss Startup Invest, formerly CTI Invest, is a non-profit organization and a leading financing platform for investors and startups in Switzerland. The platform aims to bring together business angels and venture capitalists in Switzerland to invest in promising local tech-enabled companies.",
          image:
            "https://assets-global.website-files.com/5c701f962330ed0c7917b8e1/5c70212ada1416a487c815c3_startups-ch_Logo_RGB_Web-p-500.png",
          probability: 2.5, 
          feasible: true
        },
        {
          name: "PostFinance",
          category: "Debt",
          price: 3.52,
          description:
            "MPostFinance is the financial services unit of Swiss Post which was founded in 1906. It is the fifth largest retail financial institution in Switzerland.",
          image:
            "https://upload.wikimedia.org/wikipedia/commons/9/95/PostFinance_Logo.svg",
          complexity: 0.92, //1 is simple 0 is too tedius
          feasible: true
        },
        {
          name: "Capvis",
          category: "Equity",
          price: 3.75,
          description:
            "Capvis is a private equity firm focused on leveraged buyout and growth capital investments in middle-market companies across a range of industries in the Industrial Corridor of Europe (Switzerland, Germany, Italy and the Benelux). The firm is based in Baar and was founded in 1990. The firm has raised approximately €3.2 billion since inception across three independent funds as well as two predecessor funds",
          image:
            "https://upload.wikimedia.org/wikipedia/en/f/f7/Capvis_AG_Logo.jpg",
          probability: 2, 
          feasible: true
        },
        {
          name: "Credit Suisse Group AG",
          category: "Debt",
          price: 3.54,
          description:
            "Credit Suisse Group AG is a global wealth manager, investment bank and financial services company founded and based in Switzerland. Headquartered in Zürich, it maintains offices in all major financial centers around the world and is one of the nine global Bulge Bracket banks providing services in investment banking, private banking, asset management, and shared services.",
          image:
            "https://upload.wikimedia.org/wikipedia/commons/3/31/Credit_Suisse_Logo.svg",
          complexity: 0.97, //1 is simple 0 is too tedius,
          feasible: true
        },
        {
          name: "UBS Group AG",
          category: "Debt",
          price: 3.55,
          description:
            "UBS Group AG is a Swiss multinational investment bank and financial services company founded and based in Switzerland. Co-headquartered in the cities of Zürich and Basel, it maintains a presence in all major financial centers as the largest Swiss banking institution in the world.",
          image:
            "https://upload.wikimedia.org/wikipedia/de/a/a0/UBS_Logo_SVG.svg",
          complexity: 0.93, //1 is simple 0 is too tedius,
          feasible: true
        },
        {
          name: "Aravis",
          category: "Equity",
          price: 3.5,
          description:
            "With over 100 years of investment experience across various industries, the Aravis team has established itself as a recognized actor in the Swiss and European Private Equity markets",
          image:
            "http://www.synaffix.com/wp-content/uploads/2015/07/investor-logo-aravis.jpg",
          probability: 2, 
          feasible: true
        },
        {
          name: "Partners Group AG",
          category: "Equity",
          price: 4.01,
          description:
            "Partners Group AG invests in the development of successful businesses and real estate.  The firm manages a broad range of funds, structured products and customized portfolios for an international clientele of institutional investors, private banks and other financial institutions. Partners Group AG is in the private equity industry, having completed more than 200 private equity investments in portfolio companies",
          image:
            "https://www.partnersgroup.com/typo3conf/ext/website_template/Resources/Public/Images/logo.jpg",
          probability: 2.5, 
          feasible: true
        },
        {
          name: "Zurich Cantonal Bank",
          category: "Debt",
          price: 3.57,
          description:
            "Zurich Cantonal Bank is the largest cantonal bank and fourth largest bank in Switzerland, as well as the leading financial services provider in the Greater Zurich area, with total assets of over CHF 150 billion. ZKB, as an independent, incorporated public-law institution, is wholly owned by the Canton of Zurich. Ultimate supervision of ZKB is the responsibility of the Cantonal Council of Zurich, whose duties are laid down in Zurich's Cantonal Bank Act",
          image:
            "https://upload.wikimedia.org/wikipedia/commons/6/60/Z%C3%BCrcher_Kantonalbank_logo.svg",
          complexity: 0.98, //1 is simple 0 is too tedius,
          feasible: true
        },
        {
          name: "SICTIC",
          category: "Equity",
          price: 4,
          description:
            "The Swiss ICT Investor Club (SICTIC) is a non-profit organization that connects “smart money investors” to Swiss early stage tech startups. SICTIC does not invest itself nor does it hold shares in startups. Instead, SICTIC organizes the dealflow and match making of startups and investors, and facilitates the process until the investment round closes.",
          image:
            "https://www.sictic.ch/wp-content/uploads/2017/09/sictic-logo-white.svg",
          probability: 5, 
          feasible: true
        },
        {
          name: "Banque cantonale de Genève",
          category: "Debt",
          price: 3.58,
          description:
            "As the name suggests, BCGE is a cantonal bank founded in 1861. The current form of the bank came into existence in 1994. Focusing on small and medium-sized businesses, it provides mortgages, personal loans, savings accounts, wealth and asset management services, institutional real estate financing, advisory services, global commodity finance, and public authorities financing and management.",
          image:
            "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Logo_der_Genfer_Kantonalbank.svg/2880px-Logo_der_Genfer_Kantonalbank.svg.png",
          complexity: 0.91, //1 is simple 0 is too tedius,
          feasible: true
        },
        {
          name: "Lakestar",
          category: "Equity",
          price: 4,
          description:
            "Invests in Internet and technologies companies, and focuses on business models that can quickly achieve global scale. With a presence in Berlin, London and Zurich, Lakestar makes early and growth stage investments in tech-enabled businesses predominantly in Europe and the US driven by “exceptional” entrepreneurs.",
          image:
            "https://res-5.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/gxqbizhssgawjnsasdyt",
          probability: 3, 
          feasible: true
        }
      ],

      // TAB 3
      paymentMethod: "debit-card",
      cvv: ""
    };
  },
  computed: {
      
    // cartItems () {
    //   return this.$store.state.eCommerce.cartItems.slice().reverse()
    // },
    isInWishList() {
      //   return (itemId) => this.$store.getters['eCommerce/isInWishList'](itemId)
      // return false;
      return itemId => this.cartItems.some(item => item.objectID === itemId);
    }
  },
  methods: {
      index(){
          var bookValue = 369;
          if(this.requiredCap < bookValue * 0.1){
              this.cartItems[0].price = 3;
              this.cartItems[0].complexity = 1;
          } else if(this.requiredCap < bookValue * 0.5){
              this.cartItems[0].price = 3;
              this.cartItems[0].complexity = 0.8;
          } else{
              this.cartItems[0].complexity = 0.5;
          }
      },
    actualProbability(index,category, complexity, probability) {
        if(index == 0){
            this.index();
        }
      console.log(complexity);
      var bookValue = 369;
      if (category == "Debt") {
        if (this.requiredCap < bookValue * 0.1) {
          return 100;
        } else {
          var line = (
            complexity * 100 -
            (this.requiredCap / bookValue) * 99 -
            this.requiredDuration / 365
          ).toFixed(2);
          if (line < 1) {
            return 1;
          }
          return line;
        }
      } else if(category =="Equity"){
        return probability;
      }
    },

    // TAB 1
    removeItemFromCart(item) {
      this.$store.dispatch("eCommerce/toggleItemInCart", item);
    },
    wishListButtonClicked(item) {
      // Toggle in Wish List
      if (this.isInWishList(item.objectID))
        this.$router.push("/apps/eCommerce/wish-list").catch(() => {});
      else {
        this.toggleItemInWishList(item);
        this.removeItemFromCart(item);
      }
    },
    toggleItemInWishList(item) {
      this.$store.dispatch("eCommerce/toggleItemInWishList", item);
    },
    updateItemQuantity(event, index) {
      const itemIndex = Math.abs(index + 1 - this.cartItems.length);
      this.$store.dispatch("eCommerce/updateItemQuantity", {
        quantity: event,
        index: itemIndex
      });
    },

    // TAB 2
    submitNewAddressForm() {
      return new Promise(() => {
        this.$validator.validateAll("add-new-address").then(result => {
          if (result) {
            // if form have no errors
            this.$refs.checkoutWizard.nextTab();
          } else {
            this.$vs.notify({
              title: "Error",
              text: "Please enter valid details",
              color: "warning",
              iconPack: "feather",
              icon: "icon-alert-circle"
            });
          }
        });
      });
    },

    // TAB 3
    makePayment() {
      return new Promise(() => {
        this.$validator.validateAll("cvv-form").then(result => {
          if (result) {
            // if form have no errors
            this.$vs.notify({
              title: "Success",
              text: "Payment received successfully",
              color: "success",
              iconPack: "feather",
              icon: "icon-check"
            });
          } else {
            this.$vs.notify({
              title: "Error",
              text: "Please enter valid details",
              color: "warning",
              iconPack: "feather",
              icon: "icon-alert-circle"
            });
          }
        });
      });
    }
  },
  components: {
    ItemListView,
    FormWizard,
    TabContent,
    SliderWithInfo,
    StatisticsCardLine
  }
};
</script>

<style lang="scss" scoped>
#ecommerce-checkout-demo {
  .item-view-primary-action-btn {
    color: #2c2c2c !important;
    background-color: #f6f6f6;
  }

  .item-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }

  .vue-form-wizard {
    padding-bottom: 0;

    ::v-deep .wizard-header {
      padding: 0;
    }

    ::v-deep .wizard-tab-content {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;

      .wizard-tab-container {
        margin-bottom: 0 !important;
      }
    }
  }
}
</style>
